bin/
obj/
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates
.idea/
.vscode/
*.suo
*.pyc
PublishProfiles/
*.pubxml
*.pubxml.user
project.lock.json
project.fragment.lock.json
artifacts/
node_modules/
wwwroot/lib/
secrets.json
